*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-bottom: 32px;
}

.form input {
  width: 272px;
  height: 40px;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: transparent;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.form input:hover {
  border-color: #000000;
}

.form input:focus {
  border-color: #4e75ff;
}

.form button {
  min-width: 91px;
  height: 40px;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  background-color: #a2a5b0;
  color: #ffffff;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.form button:hover {
  background-color: #b8bac3;
}

.gallery {
  list-style: none;
  max-width: 1128px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
  border: 1px solid #808080;
  background-color: #ffffff;
  border-radius: 3px;
}

.gallery-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.gallery-info {
  display: flex;
  justify-content: space-around;
  padding: 4px 0;
}

.gallery-info-item {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.gallery-info-title {
  font-weight: 600;
  line-height: 1.33;
}

.loader {
  display: none;
  width: 48px;
  height: 48px;
  margin: 0 auto 32px;
  border: 5px solid #808080;
  border-bottom-color: #4e75ff;
  border-radius: 50%;
  animation: rotation 1s linear infinite;
}

.loader.is-visible {
  display: block;
}

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}

.load-more-btn {
  display: block;
  min-width: 125px;
  height: 40px;
  margin: 32px auto 0;
  padding: 8px 16px;

  border: none;
  border-radius: 6px;
  background-color: #a2a5b0;
  color: #ffffff;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  cursor: pointer;
}

.load-more-btn:hover {
  background-color: #b8bac3;
}

.hidden {
  display: none;
}
